<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <title>풋터</title>
    </head>
    <body>
        <!-- 풋터 시작 -->
        <div id="foot-wrap">
            <hr />
            <img src="{% static 'images/logo.svg' %}" alt="footer-logo" />
            <div class="foot-inner">
                <ul class="privacy">
                    <li>이용약관</li>
                    <li>개인정보처리방침</li>
                </ul>
                <ul class="copy">
                    <li>COPYRIGHT © 2024 MYWISH DBA.</li>
                    <li>TEAM CS <span>김현아 / 정지은</span></li>
                </ul>
            </div>
            <div class="family-site">
                <select name="family" id="family" style="margin: 10px; padding: 10px">
                    <option value="#">문의 및 제안</option>
                    <option value="#">dnd5669@gmail.com</option>
                    <option value="#">HyunahKim1111@naver.com</option>
                </select>
            </div>
        </div>
        <!-- 풋터 끝 -->
    </body>
</html>
