<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <title>풋터</title>
    </head>
    <body>
        <div id="foot-wrap">
            <div class="family-site">
                <select name="family" id="family">
                    <option value="#">패밀리 사이트1</option>
                    <option value="#">패밀리 사이트2</option>
                    <option value="#">패밀리 사이트3</option>
                </select>
            </div>
        </div>
    </body>
</html>
