{%extends 'base.html' %}

{% block css%}
{% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <title>로그인페이지</title>
{% endblock %}

{% block content %}
    <div class="loginWrap">
        <div class="login-page">
            <div class="logo-login"><a href="/"></a><img src="{% static 'images/logo.svg' %}" alt="logo" /></a></div>
            {% if user.is_authenticated %}
            <!-- 유저가 로그인 성공한 상황 -->
                    <h3 class="user_greeting">반갑습니다 <span class="orange">{{ user.username }}</span> 님!</h3>
                <span class="border"><hr /></span>
                    <h3 class="my_wish_list"><a href="{% url 'todo_list' %}">할일 목록 리스트로 가기</a></h3>
                    
                <!-- <div class="deleteBtn"><a class="delete" href="javascript:void(0)">삭제하기</a></div> -->
                <!-- 마이위시 페이지에서 담은 컨텐츠 들어올 자리 -->
                <!-- <div id="container">
                    <img src="{% static 'images/lightning.svg' %}" alt="lightningIcon" />
                    <div>
                        <p class="wishCon green">독서</p>
    
                        <p class="wishCon">5:10pm – 6:10pm</p>
                    </div>
                    <input type="checkbox" class="checkbox" />
                </div>
                <br />
                <div id="container">
                    <img src="{% static 'images/lightning.svg' %}" alt="lightningIcon" />
                    <div>
                        <p class="wishCon green">산책</p>
    
                        <p class="wishCon">7:00pm – 8:30pm</p>
                    </div>
                    <input type="checkbox" class="checkbox" />
                </div> -->
                <!-- 마이위시 페이지에서 담은 컨텐츠 들어올 자리 -->
                <div class="mypageLogout">
                    <a href="{% url 'logout' %}">로그아웃</a>
                    &nbsp
                    <div class="bd">|</div>
                    &nbsp
                    <a href="javascript:void(0)">1:1 문의</a>
                </div>
            </div>
            {% else %}
            <!-- 유저가 성공하지 못한 상태라면 로그인을 다시 띄워주기 -->
            <form action="" method="POST">
                {% csrf_token %}
                <!-- csrfmiddlewaretoken은 토큰 를 통해서 들어가는 key -->
                <div class="login-profile"><img src="{% static 'images/login-icon.svg' %}" alt="empty-profile" /></div>
                <p>로그인해주세요</p>
                <input name="username" type="text" id="id-input" />
                <input name="password" type="password" id="passwordBar" />
                <input type="submit" id="loginBar" value="로그인" />
            </form>
            <!-- 회원가입 -->
            <div class="login-sub"><a href="{% url 'signup' %}">회원가입</a></div>

            {% endif %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}