{% extends 'base.html' %} {% block css %} {% load static %}
<title>mywish페이지</title>
<!-- 
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+KR:wght@400;500&display=swap"
    rel="stylesheet"
/>
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
{% endblock%} {%block content %}
<style>
    body {
        min-width: 320px;
        min-height: 480px;
    }
    #mywish_wrap {
        height: 1000px;
    }
    .plusIcon {
        display: flex;
        margin: 85px;
        width: 287px;
        margin: 85px auto;
        position: relative;
    }

    .wishPlus {
        font-size: 24px;
        color: #555;
        display: inline;
        margin-left: 43px;
    }
    .wishPlus:hover {
        color: var(--main-color);
        font-weight: 500;
    }
    .plusIcon img {
        width: 33px;
        height: 33px;
        display: inline-block;
        position: absolute;
        bottom: 0;
    }
    /* 컨텐츠 박스 */
    /* #container {
        border: 1.5px solid #343538;
        background: #f6f7f8;
        width: 588px;
        height: 117px;
        border-radius: 18px;
        margin: 0 auto;
        display: flex;
        box-sizing: border-box;
        padding: 32px;
        position: relative;
    } */

    #container > svg {
        margin-top: 10px;
        width: 27px;
        height: 27px;
    }
    .wishCon {
        font-size: 21px;
        margin-left: 20px;
        font-weight: 500;
    }

    #like {
        /* border: 3px solid var(--main-color); */
        position: absolute;
        bottom: 30px;
        right: 50px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        display: flex;
    }

    #like input[type='submit'] {
        display: block;
        margin: 0 auto;
    }
    #register {
        position: absolute;
        top: 200px;
        right: 200px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
</style>
<div id="mywish_wrap">
    <!-- 위시 추가 버튼 영역 -->
    <div class="plusIcon">
        <img src="{% static 'images/plus-circle.svg' %}" alt="lightningIcon" />
        <p class="wishPlus"><a href="{% url 'mypage' %}">나의 위시로 등록하기</a></p>
    </div>
    <!-- 위시 추가 버튼 영역 -->
    <div id="container">
        <!-- <img src="{% static 'images/zap.svg' %}" alt="lightningIcon" /> -->
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
            fill="#108910"
            stroke="#108910"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-zap"
        >
            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
        </svg>
        <div>
            {% for wish in object_list %}
            <div>
                <form action="{% url 'checked_wish' wish.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <p class="wishCon green">{{ wish.wish_list }}</p>
                        <input type="checkbox" name="checked_wish" value="{{ wish.id }}" />
                    </div>
                </form>
                <!-- 좋아요 버튼추가 -->
                <form action="{% url 'likes' wish.pk %}" method="POST" id="like">
                    {% csrf_token %} {% if request.user in wish.like_users.all %}
                    <input type="submit" value="좋아요 취소" style="padding: 10px" />
                    {% else %}
                    <input type="submit" value="좋아요" style="padding: 10px" />
                    {% endif %}
                </form>
                <!-- 좋아요 버튼 추가 끝 -->
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-primary" type="submit" id="register">마이위시로 등록</button>
</div>

{% endblock %}
