{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static '/css/navbar.css' %}" type="text/css" />
        <title>네비게이션 바</title>
    </head>
    <body>
        <div id="navWrap">
            <div class="navLogo">
                <a href="/"> <img src="{% static '/images/logo.svg' %}" alt="logo" /></a>
            </div>
            <div class="navBtn1">
                <img src="{% static '/images/star.svg' %}" alt="mywish-icon" /><a href="{% url 'my_wish' %}">마이위시</a>
            </div>
            <div class="navBtn2">
                <img src="{% static '/images/fire.svg' %}" alt="fire-icon" /><a href="{% url 'youtube' %}">나는될놈</a>
            </div>
            <div class="navBtn3">
                <img src="{% static '/images/crown.svg' %}" alt="crown-icon" /><a href="{% url 'post_list' %}">도전달성</a>
            </div>
            <div class="navBtn4">
                <img src="{% static '/images/user.svg' %}" alt="user-icon" /><a href="{% url 'mypage' %}">로그인</a>
            </div>
        </div>
    </body>
</html>
