<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{object.content|truncatechars:10}}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen" />
    </head>
    <body>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default">
                <p><img src="{{ object.head_image.url }}" style="width: 50%" alt="" /></p>
                <button type="button" class="btn btn-xs btn-info">{{ object.author.username }}</button>
                <p>{{ post.content|linebreaksbr }}</p>
                <a href="{% url 'post_delete' pk=object.id %}" class="btn btn-outline-danger btn-sm float-right"
                    >삭제하기</a
                >
                <a href="{% url 'post_update' pk=object.id %}" class="btn btn-outline-success btn-sm float-right"
                    >수정하기</a
                >
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>
