@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    list-style: none;
}
/* icon color */
:root {
    --main-color: #eb4600;
    --light-gray: #d9d9d9;
    --text-main: #555;
    --text-sub: #333333;
    --green: #108910;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: 600;
    color: var(--main-color);
}
.green {
    color: #108910;
}
.orange {
    color: var(--main-color);
}
/* 스크롤효과 */

.scroll_wrap {
    overflow: hidden;
}
.scroll_on {
    padding: 50px 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    transition: all 1s;
}
.scroll_on.active {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}
.scroll_on.type_top {
    transform: translate(0, -50px);
}
.scroll_on.type_bottom {
    transform: translate(0, 50px);
}
.scroll_on.type_left {
    transform: translate(-50px, 0);
}
.scroll_on.type_right {
    transform: translate(50px, 0);
}
/* index page */

#wrap {
    /* width: 1440px; */
    /* margin: 0 10%; */
    width: 100%;
    box-sizing: border-box;
}
li {
    position: relative;
}
.logo {
    width: 92px;
    position: absolute;
    top: 50px;
    left: 100px;
}
.videoTxt {
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 50px 10px 10px;
}
.textWrap {
    margin: 0 10%;
}
h1 {
    margin-top: 20px;
    font-size: 50px;
}
.videoTitle {
    font-size: 24px;
}
h5 {
    margin-top: 150px;
    font-size: 24px;
}

.imgWrap {
    display: flex;
    max-width: 1200px;
    margin: 100px 0 100px 0;
}
.frame-layout {
    margin-right: 40px;
}
.frame {
    box-sizing: border-box;
    width: 410px;
    height: 410px;
    border-radius: 67px;
    overflow: hidden;
    background-size: cover;
}
.c1 {
    background-image: url('../images/bruce-mars-gJtDg6WfMlQ-unsplash.jpg');
}
.c2 {
    background-image: url('../images/kamil-pietrzak-AlA8S9tALAs-unsplash.jpg');
}
.c3 {
    background-image: url('../images/patrick-hendry-w5hNCbJfX3w-unsplash.jpg');
}
.c4 {
    background-image: url('../images/nguyen-thu-hoai-9CILN1ybspA-unsplash.jpg');
}
.c5 {
    background-image: url('../images/vlad-bagacian-d1eaoAabeXs-unsplash.jpg');
}
.c6 {
    background-image: url('../images/daniel-lincoln-j0sEqZOFs6k-unsplash.jpg');
}
.c7 {
    background-image: url('../images/jeremy-bishop-8wLs095-_2k-unsplash.jpg');
}
.c8 {
    background-image: url('../images/federico-giampieri-R0lftflMYPw-unsplash.jpg');
}
.c9 {
    background-image: url('../images/domino-5RUIYPB5QTY-unsplash.jpg');
}
/* index page 끝 */

/* 로그인페이지 */
.loginWrap {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-page {
    text-align: center;
}
.login-page > p {
    margin: 30px;
}
.logo-login img {
    width: 152px;
    height: 63px;
    margin: 100px;
}

#id-input {
    width: 322px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--light-gray);
    color: rgba(51, 51, 51, 50);
    opacity: 50%;
    border: none;
    display: block;
}

input {
    box-sizing: border-box;
    padding: 0 0 0 24px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 10px;
}
input::placeholder {
    font-size: 16px;
}
input::after {
    border: 3px solid var(--main-color);
}
button:active {
    font-weight: 700;
    box-shadow: 0 0 2px 0 rgba(83, 22, 3, 0.5);
}
#passwordBar {
    width: 322px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--light-gray);
    color: rgba(51, 51, 51, 50);
    border: none;
    display: block;
}

#loginBar {
    width: 322px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #ebc6b6;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
#loginBar:hover {
    background-color: #555;
    color: var(--main-color);
}
.login-sub {
    justify-content: center;
    margin-top: 50px;
    /* display: flex; */
}
.login-sub > span {
    color: #555;
    font-size: bold;
    text-align: center;
    margin: 15px;
}
/* 로그인페이지 끝 */

/* -----마이 위시 페이지---- */
/* 위시 추가 버튼 */
.plusIcon {
    display: flex;
    margin: 85px;
    width: 287px;
    margin: 85px auto;
}
.plusIcon a {
    position: relative;
}
.wishPlus {
    font-size: 24px;
    color: #555;
    display: inline;
    margin-left: 43px;
}
.wishPlus:hover {
    color: var(--main-color);
}
.plusIcon img {
    width: 33px;
    height: 33px;

    display: inline-block;
    position: absolute;
    bottom: 0;
}
/* 컨텐츠 박스 */
#container {
    border: 1.5px solid #343538;
    background: #f6f7f8;
    width: 588px;
    height: 117px;
    border-radius: 18px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding: 32px;
    position: relative;
}

#container > img {
    margin-top: 10px;
    width: 37.5px;
    height: 37.2px;
}
.wishCon {
    font-size: 21px;
    margin-left: 20px;
    font-weight: 500;
}

.checkbox {
    width: 27px;
    height: 27px;
    border: 1px solid var(--main-color);
    position: absolute;
    bottom: 30px;
    right: 50px;
}
/* -----마이 위시 페이지 끝---- */

/* nav */
#navWrap {
    width: 100%;
    height: 85px;
    display: flex;
    box-sizing: border-box;
    background: #fff;
}
#navWrap a:hover {
    cursor: pointer;
}
.navLogo {
    position: relative;
}
.navLogo img {
    width: 92px;
    margin: 25px;
}

/* footer */
#foot-wrap {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 50px;
    box-sizing: border-box;
    position: relative;
}
#foot-wrap img {
    left: 120px;
    width: 100px;
    transform: translate(-50%);
    position: absolute;
}
.foot-inner {
    left: 50%;
    height: 46px;
    box-sizing: border-box;
    transform: translate(-50%);
    position: absolute;
}

.foot-inner > ul {
    display: flex;
}
.foot-inner > ul li {
    font-size: 15px;
    font-weight: 800;
    margin: 5px 10px;
    color: #333;
}
.copy {
    position: relative;
    margin: 25px;
}
.privacy {
    position: absolute;
    right: 150px;
}
.foot-inner > ul li > span {
    font-weight: 600;
    color: #333;
}
#family {
    position: absolute;
    right: 60px;
    transform: translate(-50%);
}
