<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'mywish/css/style.css' %}" type="text/css" />
        <title>풋터</title>
    </head>
    <body>
        <h1>풋터를 만들어주세요</h1>
        <div id="foot-wrap">
            <div class="logo"><img src="{% static 'mywish/images/logo.svg %}" alt="logo" /></div>
            <div class="foot-con">푸터 내용자리</div>
            <div class="family-site">
                <select name="family" id="family1">
                    사실 그런 거 없음
                </select>
            </div>
        </div>
    </body>
</html>
