@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
}
/* icon color */
:root {
    --main-color: #eb4600;
    --light-gray: #d9d9d9;
    --text-main: #555;
    --text-sub: #333333;
    --green: #108910;
}

.green {
    color: #108910;
}
body {
    position: relative;
}
/* animation */

/* index page */
#wrap {
    width: 1440px;
    margin: 0 auto;
    width: 100%;
}
li {
    position: relative;
}
.logo {
    width: 92px;
    position: absolute;
    top: 50px;
    left: 100px;
}
.videoTxt {
    position: absolute;
    bottom: 100px;
    left: 100px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 50px 10px 10px;
}
.textWrap {
    margin: 0 5%;
}
h1 {
    margin-top: 20px;
    font-size: 50px;
}
.videoTitle {
    font-size: 24px;
}
.textMargin {
    margin-top: 150px;
    font-size: 24px;
}
span {
    color: var(--main-color);
}
.imgWrap {
    display: flex;
    min-width: 1200px;
}
.frame {
    margin: 50px 0px 0px;
    width: 413px;
    height: 413px;
    border-radius: 67px;
    overflow: hidden;
    background-size: cover;
    margin-right: 70px;
}
.c1 {
    background-image: url('../images/bruce-mars-gJtDg6WfMlQ-unsplash.jpg');
}
.c2 {
    background-image: url('../images/kamil-pietrzak-AlA8S9tALAs-unsplash.jpg');
}
.c3 {
    background-image: url('../images/patrick-hendry-w5hNCbJfX3w-unsplash.jpg');
}
.c4 {
    background-image: url('../images/nguyen-thu-hoai-9CILN1ybspA-unsplash.jpg');
}
.c5 {
    background-image: url('../images/vlad-bagacian-d1eaoAabeXs-unsplash.jpg');
}
.c6 {
    background-image: url('../images/daniel-lincoln-j0sEqZOFs6k-unsplash.jpg');
}
.c7 {
    background-image: url('../images/jeremy-bishop-8wLs095-_2k-unsplash.jpg');
}
.c8 {
    background-image: url('../images/federico-giampieri-R0lftflMYPw-unsplash.jpg');
}
.c9 {
    background-image: url('../images/domino-5RUIYPB5QTY-unsplash.jpg');
}
/* index page */

/* 위시 추가 버튼 */
.plusIcon {
    display: flex;
    margin: 85px;
    width: 287px;
    margin: 85px auto;
}
.plusIcon > img {
    width: 33px;
    height: 33px;
    margin-right: 15px;
}
.wishPlus {
    font-size: 24px;
    color: #555;
}
/* 컨텐츠 박스 */
#container {
    border: 1.5px solid #343538;
    background: #f6f7f8;
    width: 588px;
    height: 117px;
    border-radius: 18px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding: 32px;
}
#container {
    display: flex;
}
#container > img {
    width: 37.5px;
    height: 37.2px;
    top: 50%;
}
.wishCon {
    font-size: 21px;
    margin-left: 20px;
    font-weight: 500;
}

.checkbox {
    width: 27px;
    height: 27px;
    border: 1px solid var(--main-color);
}
/* 로그인페이지 */
.loginWrap {
    width: 1440px;
    margin: 0 auto;
    position: absolute;
    justify-content: center;
}
.logo-login > img {
    width: 152px;
    height: 63px;
}
#id-input {
    width: 322px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--light-gray);
    color: rgba(51, 51, 51, 50);
    opacity: 50%;
}

#password-input {
    width: 322px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--light-gray);
    color: rgba(51, 51, 51, 50);
}

#loginBar {
    width: 322px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #ebc6b6;
}
.login-sub {
    display: flex;
}
