{% extends "mywish/navbar.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}로그인{% endblock title %}

{% block content %}
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <title>로그인 페이지</title>
    </head>
    <body>
        <div id="loginWrap">
            <div class="login-page">
                <div class="logo-login"><img src="{% static 'images/logo.svg' %}" alt="logo" /></div>
                <!-- 프로필 이미지  -->
                <div class="login-profile"><img src="{% static 'images/login-icon.svg' %}" alt="" /></div>
                <p>로그인해주세요</p>
                <div class="inputWrap">
                  <form method="post">{% csrf_token %}
                    <p><input type="box" name="login" id="id-input" placeholder="ID" autocomplete="username" maxlength="150" required id="id_login"></p>
                    <p>
                      <input type="password" id="passwordBar" name="password" placeholder="Password" autocomplete="current-password" required id="id_password">
                    <button type="submit" id="loginBar">로그인</button>
                    <p>
                      <label for="id_remember">아이디저장:</label>
                      <input type="checkbox" name="remember" id="id_remember">
                    </p>
                    <div class="login-sub">
                      <span><a href="javascript:void(0);">아이디찾기</a></span>
  
                      <span><a href="/accounts/password/reset/">비밀번호 찾기</a></span>
  
                      <span><a href="/accounts/signup/">회원가입</a></span>
                    </div>
                  </form>
                </div>
            </div>
        </div>



        <!-- <script>
            document.addEventListener('DOMContentLoaded', function () {
                const loginBtn = document.getElementById('loginBar');

                loginBtn.addEventListener('click', function () {
                    if (loginBtn.innerText === '로그인') {
                        loginBtn.innerText = '로그아웃';
                        alert('로그인되었습니다.');
                    } else {
                        loginBtn.innerText = '로그인';
                    }
                });
            });
        </script> -->
    </body>
</html>
{% endblock content %}